$text: #001425;
$background: #f8fcff;
$primary: #137dfc;
$primary-hover: #2e8cff;
$secondary: #d79a92;
$accent: #50fd39;
$unit: 10px;
$interact-height: 10 * $unit;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: $unit;
}

body {
  background-color: $secondary;
}

p {
  color: $text;
  font-size: 2.5rem;
}

#author {
  text-align: right;
  font-size: 2rem;
}

.App {
  height: 100vh;
}

article {
  height: min-content;
  position: relative;
  width: max(50vw, 50 * $unit);
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: $background;
  padding: 4rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 0 0 5px gray;

  #quote {
    margin-bottom: 2rem;
  }

  #interact-line {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: end;
    button {
      background-color: $primary;
      color: white;
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-size: 1.5rem;
    }
    button:hover {
      cursor: pointer;
      background-color: $primary-hover;
    }
    a {
      color: $primary;
      font-size: 1.5rem;
    }
  }
}
.custom-shape-divider-bottom-1703126871 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1703126871 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1703126871 .shape-fill {
  fill: #ffffff;
}
